@use '/src/styles/constants/colors';

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 7rem;
  padding: 1rem;

  .inputContainer {
    & > div {
      position: relative;
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 14rem;
      padding: 0.3rem;
      font-size: 0.5rem;
      color: rgba(0, 0, 0, 50%);
      text-align: left;
    }

    .labelInvalid {
      color: colors.$RED70P;
    }

    .isHidden {
      display: none;
    }

    input {
      width: 13rem;
      height: 2rem;
      padding: 0 0.5rem;
      padding-right: 2rem;
      background-color: colors.$GRAYE;
      border: 1px solid colors.$GRAYA;
      border-radius: 0.2rem;
    }

    .checkIcon {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 1rem;
      height: 1rem;
      fill: colors.$GRAYD;
      transition: fill 0.2s;
    }

    .isEmailValid {
      fill: colors.$REPO_THEME;
    }

    .eyeIcon {
      position: absolute;
      top: 1px;
      right: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border: none;

      svg {
        fill: colors.$GRAYD;
        transition: fill 0.2s;
      }

      .ifHidePassword {
        fill: colors.$REPO_THEME;
      }
    }
  }

  &:first-child {
    margin-bottom: 0.5rem;
  }

  input:focus {
    border: 1px solid colors.$BLACK;
    outline: none;
  }

  .isEmailValid {
    fill: colors.$REPO_THEME;
  }
}
