// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$BLACK20P: rgba(0, 0, 0, 20%);
$BLACK50P: rgba(0, 0, 0, 50%);
$BLACK70P: rgba(0, 0, 0, 70%);

$REPO_THEME: #94b2b4;
